*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

* {
  font-family: "Open Sans", sans-serif;
}

.mainHappiness {
  width: 100%;
  height: calc(125vh - 1rem - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainHappiness .MainContent {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row-reverse;
}

.HappinesHeader {
  background: #808080;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
}
.HappinesHeader__headerimage {
  width: 10rem;
  height: 10rem;
  padding: 0.5rem;
  aspect-ratio: 1/1;
  border-radius: 10%;
}

.LeftSection {
  width: 50%;
  height: 100%;
  position: relative;
  left: 5rem;
  right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LeftSection__LeftSectionUl {
  height: auto;
  aspect-ratio: 1/1;
  grid-template-rows: 20rem 20rem;
  list-style: none;
  gap: 4rem;
  z-index: 1;
  display: grid;
  grid-template-columns: 20rem 20rem;
}
.LeftSection__LeftSectionLi {
  position: relative;
  cursor: pointer;
}
.LeftSection__LeftSectionTitle {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  background: none;
  font-size: 95%;
  color: #ffffff;
  z-index: 2;
}
.LeftSection__LeftSectionImage {
  height: 100%;
  width: 100%;
}
.LeftSection__LeftSectionDatum {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  font-size: 80%;
  color: #ffffff;
  z-index: 2;
}

.SectionRight {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}
.SectionRight__SectionRightDiv {
  min-height: 15rem;
  max-width: 60rem;
  position: relative;
  overflow: hidden;
  max-height: 20rem;
  width: 100%;
}
.SectionRight__SectionRightImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.SectionRight__SectionRightDatum {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #ffffff;
  z-index: 2;
}
.SectionRight__SectionRightTitle {
  position: absolute;
  bottom: 1rem;
  color: #ffffff;
  z-index: 2;
  left: 1rem;
}
.SectionRight__SectionRightContent {
  padding-right: 4rem;
  margin: 2rem;
  overflow-x: hidden;
  box-shadow: 0rem 0rem 1rem 0.3rem rgb(211, 211, 211);
  padding: 1.5rem;
  width: 100%;
  overflow: scroll;
}
.SectionRight__SectionRightBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  width: 60%;
}
.SectionRight__SectionRightSource {
  color: black;
  cursor: pointer;
  background: #808080;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  width: 77.5%;
  height: 4rem;
  display: flex;
}

.HappinessFooter {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #808080;
  padding: 3rem;
}
.HappinessFooter__pfooter {
  font-size: 100%;
  color: rgb(79, 79, 79);
}

/*# sourceMappingURL=style.css.map */
