//Responsive gedeelte van de website:

@media screen and (max-width: 95rem) {
  .SectionRight {
    width: 100%;

    &__audio {
      position: relative;
      right: 2rem;

    }

    &__SectionRightContent {
      width: 100%;
      width: 68%;
    }
  }

  .mainHappiness {

    position: relative;
    height: auto;
  }

  .LeftSection {
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .MainContent {
    flex-direction: column;
    height: auto;
  }




}