@mixin mainHappiness {
    width: 100%;
    height: calc(125vh - map-get(vars.$viewheightmeeting, "HeaderHight") - map-get(vars.$viewheightmeeting, "BodyPadding"));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .MainContent {
        background-color: colors.$wit;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row-reverse;
    }
}


@mixin happinessHeader {
    background: colors.$grijs;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;

    &__headerimage {
        width: 10rem;
        height: 10rem;
        padding: 0.5rem;
        aspect-ratio: 1/1;
        border-radius: 10%;
    }
}

@mixin happinessFooter {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$grijs;
    padding: 3rem;

    &__pfooter{
        font-size: 100%;
        color: rgb(79, 79, 79);
    }
}